[include]
  path = ~/.github/env/common/.gitconfig

[user]
  signingkey = 5786E1A202608DD4

[includeIf "gitdir:~/ghq/github.com/hatena/"]
  path = ~/.github/env/macos/user.gitconfig

[gpg]
  program = /usr/local/MacGPG2/bin/gpg2

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
