[init]
  defaultBranch = master

[core]
  excludesFile = ~/.gitignore
  autocrlf = input
  hooksPath = ~/.github/env/git/hooks
  commentchar = auto

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[user]
  name = SlashNephy
  email = spica@starry.blue
  # https://start.1password.com/open/i?a=DRJGM4CPEZHWLPPN46N7O5U5HM&v=irzmprmnwbyejlntq4xfqjxqzu&i=m4zibueuwvwpcvfh7gwzbtd4ly&h=my.1password.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIH3GPB5bgJDJOj4bRVsBIsYXWBiwqFQF/SiXwr2Pz7N

[alias]
  current-branch-name = !git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
  force-pull = !git fetch && git reset --hard origin/$(git current-branch)
  update-timestamp = rebase origin/HEAD --autostash --exec 'git commit --amend --no-edit --date=now'
  pushf = push --force-with-lease --force-if-includes

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[url "https://github.com/"]
  insteadOf = git://github.com/

[include]
  path = ~/.github/env/git/private.gitconfig
