name: 'go lint'

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      enable-golangci-lint:
        required: false
        type: boolean
        default: true
      golangci-lint-version:
        required: false
        type: string
        default: 'latest'
      golangci-lint-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: '${{ inputs.working-directory }}/go.mod'
          cache: true
          cache-dependency-path: '${{ inputs.working-directory }}/go.sum'
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: '${{ inputs.golangci-lint-version }}'
          working-directory: '${{ inputs.working-directory }}'
          args: '${{ inputs.golangci-lint-flags }}'
