name: 'go lint'

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      enable-golangci-lint:
        required: false
        type: boolean
        default: true
      golangci-lint-version:
        required: false
        type: string
        default: 'latest'
      golangci-lint-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: '${{ inputs.working-directory }}/go.mod'
          cache: true
          cache-dependency-path: '${{ inputs.working-directory }}/go.sum'
      - uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: '${{ inputs.golangci-lint-version }}'
          working-directory: '${{ inputs.working-directory }}'
          args: '${{ inputs.golangci-lint-flags }}'
