name: 'go lint'

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      enable-golangci-lint:
        required: false
        type: boolean
        default: true
      golangci-lint-version:
        required: false
        type: string
        default: 'latest'
      golangci-lint-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: '${{ inputs.working-directory }}/go.mod'
          cache: true
          cache-dependency-path: '${{ inputs.working-directory }}/go.sum'
      - uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v6.0.1
        with:
          version: '${{ inputs.golangci-lint-version }}'
          working-directory: '${{ inputs.working-directory }}'
          args: '${{ inputs.golangci-lint-flags }}'
