name: 'go lint'

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      enable-golangci-lint:
        required: false
        type: boolean
        default: true
      golangci-lint-version:
        required: false
        type: string
        default: 'latest'
      golangci-lint-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: '${{ inputs.working-directory }}/go.mod'
          cache: true
          cache-dependency-path: '${{ inputs.working-directory }}/go.sum'
      - uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: '${{ inputs.golangci-lint-version }}'
          working-directory: '${{ inputs.working-directory }}'
          args: '${{ inputs.golangci-lint-flags }}'
