name: 'go run'

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      pre-task:
        required: false
        type: string
        default: ''
      task:
        required: false
        type: string
        default: ''
      post-task:
        required: false
        type: string
        default: ''
      pre-command:
        required: false
        type: string
        default: ''
      command:
        required: false
        type: string
        default: ''
      post-command:
        required: false
        type: string
        default: ''
      env:
        required: false
        type: string
        default: ''

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Setup .env
        if: inputs.env != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'echo "${{ inputs.env }}" > .env'

      - name: Setup Go
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4.3.0
        with:
          go-version-file: '${{ inputs.working-directory }}/go.mod'
          cache: true
          cache-dependency-path: '${{ inputs.working-directory }}/go.sum'

      - name: Run Pre-Task
        if: inputs.pre-task != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'go ${{ inputs.pre-task }}'

      - name: Run Pre-Command
        if: inputs.pre-command != ''
        working-directory: '${{ inputs.working-directory }}'
        run: '${{ inputs.pre-command }}'

      - name: Run Task
        if: inputs.task != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'go ${{ inputs.task }}'

      - name: Run Command
        if: inputs.command != ''
        working-directory: '${{ inputs.working-directory }}'
        run: '${{ inputs.command }}'

      - name: Run Post-Task
        if: inputs.post-task != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'go ${{ inputs.post-task }}'

      - name: Run Post-Command
        if: inputs.post-command != ''
        working-directory: '${{ inputs.working-directory }}'
        run: '${{ inputs.post-command }}'
