name: 'gradle run'

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: 17
      java-distribution:
        required: false
        type: string
        default: 'corretto'
      working-directory:
        required: false
        type: string
        default: '.'
      pre-task:
        required: false
        type: string
        default: ''
      task:
        required: true
        type: string
      post-task:
        required: false
        type: string
        default: ''

permissions:
  contents: 'read'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: '${{ inputs.java-distribution }}'
          java-version: '${{ inputs.java-version }}'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2.12.0

      - name: Run Pre-Task
        if: inputs.pre-task != ''
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2.12.0
        with:
          arguments: '${{ inputs.pre-task }}'
          build-root-directory: '${{ inputs.working-directory }}'

      - name: Run Task
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2.12.0
        with:
          arguments: '${{ inputs.task }}'
          build-root-directory: '${{ inputs.working-directory }}'

      - name: Run Post-Task
        if: inputs.post-task != ''
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2.12.0
        with:
          arguments: '${{ inputs.post-task }}'
          build-root-directory: '${{ inputs.working-directory }}'
