name: 'hadolint'

on:
  workflow_call:
    inputs:
      reporter:
        required: false
        type: string
        default: 'github-pr-review'
      hadolint-flags:
        required: false
        type: string
        default: ''
      hadolint-ignore:
        required: false
        type: string
        default: ''

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-on-pull-request:
    if: github.event_name == 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: hadolint
        uses: reviewdog/action-hadolint@fc7ee4a9f71e521bc43e370819247b70e5327540 # v1.50.2
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'
          hadolint_flags: '${{ inputs.hadolint-flags }}'
          hadolint_ignore: '${{ inputs.hadolint-ignore }}'

  lint-on-push:
    if: github.event_name != 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: hadolint
        uses: reviewdog/action-hadolint@fc7ee4a9f71e521bc43e370819247b70e5327540 # v1.50.2
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
          hadolint_flags: '${{ inputs.hadolint-flags }}'
          hadolint_ignore: '${{ inputs.hadolint-ignore }}'
