name: 'shellcheck'

on:
  workflow_call:
    inputs:
      reporter:
        required: false
        type: string
        default: 'github-pr-review'

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-on-pull-request:
    if: github.event_name == 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'

  lint-on-push:
    if: github.event_name != 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
