name: 'Super Linter'

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    if: ${{ !contains(github.ref, 'renovate') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Lint Code Base
        uses: github/super-linter/slim@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: 'master'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
