name: 'textlint'

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '18'
      node-version-file:
        required: false
        type: string
        default: ''
      working-directory:
        required: false
        type: string
        default: '.'
      pre-script:
        required: false
        type: string
        default: ''
      post-script:
        required: false
        type: string
        default: ''
      reporter:
        required: false
        type: string
        default: 'github-pr-review'
      textlint-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-on-pull-request:
    if: github.event_name == 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup Node (via node-version-file)
        if: inputs.node-version-file != ''
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version-file: '${{ inputs.node-version-file }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'
      - name: Setup Node (via node-version)
        if: inputs.node-version-file == ''
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: '${{ inputs.node-version }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'

      - name: Install
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn install --immutable'

      - name: Run Pre-Script
        if: inputs.pre-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.pre-script }}'

      - name: textlint
        uses: tsuyoshicho/action-textlint@689c87690ef3b954b5039bcb15589863c9e021a1 # v3.11.1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'
          workdir: '${{ inputs.working-directory }}'
          textlint_flags: '${{ inputs.textlint-flags }} .'

      - name: Run Post-Script
        if: inputs.post-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.post-script }}'

  lint-on-push:
    if: github.event_name != 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup Node (via node-version-file)
        if: inputs.node-version-file != ''
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version-file: '${{ inputs.node-version-file }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'
      - name: Setup Node (via node-version)
        if: inputs.node-version-file == ''
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: '${{ inputs.node-version }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'

      - name: Install
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn install --immutable'

      - name: Run Pre-Script
        if: inputs.pre-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.pre-script }}'

      - name: textlint
        uses: tsuyoshicho/action-textlint@689c87690ef3b954b5039bcb15589863c9e021a1 # v3.11.1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
          workdir: '${{ inputs.working-directory }}'
          textlint_flags: '${{ inputs.textlint-flags }} .'

      - name: Run Post-Script
        if: inputs.post-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.post-script }}'
