name: 'yarn publish'

on:
  workflow_call:
    inputs:
      registry-url:
        required: false
        type: string
        default: 'https://registry.yarnpkg.com'
      node-version:
        required: false
        type: string
        default: '20'
      node-version-file:
        required: false
        type: string
        default: ''
      working-directory:
        required: false
        type: string
        default: '.'
      pre-script:
        required: false
        type: string
        default: ''
      script:
        required: false
        type: string
        default: 'publish'
      commit-message:
        required: false
        type: string
        default: ''
    secrets:
      NODE_AUTH_TOKEN:
        required: true

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node (via node-version-file)
        if: inputs.node-version-file != ''
        uses: actions/setup-node@v3
        with:
          node-version-file: '${{ inputs.node-version-file }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'
      - name: Setup Node (via node-version)
        if: inputs.node-version-file == ''
        uses: actions/setup-node@v3
        with:
          node-version: '${{ inputs.node-version }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'

      - name: Install
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn install --immutable'

      - name: Setup $NODE_AUTH_TOKEN
        working-directory: '${{ inputs.working-directory }}'
        run: 'echo -e "$CONTENT" >> .yarnrc.yml'
        env:
          CONTENT: |
            npmRegistries:
              "${{ inputs.registry-url }}":
                npmAuthToken: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Run Pre-Script
        if: inputs.pre-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.pre-script }}'

      - name: Publish
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.script }}'
        continue-on-error: true

      - name: Reset .yarnrc.yml
        if: inputs.commit-message != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'git checkout .yarnrc.yml'
        continue-on-error: true

      # - name: Pull
      #   if: inputs.commit-message != ''
      #   run: git pull

      - name: Push
        if: inputs.commit-message != ''
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: '${{ inputs.commit-message }}'
          commit_author: 'StarryBlueSky-bot <97773209+StarryBlueSky-bot@users.noreply.github.com>'
