name: 'yarn lint'

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '20'
      node-version-file:
        required: false
        type: string
        default: ''
      working-directory:
        required: false
        type: string
        default: '.'
      pre-script:
        required: false
        type: string
        default: ''
      post-script:
        required: false
        type: string
        default: ''
      reporter:
        required: false
        type: string
        default: 'github-pr-review'
      enable-eslint:
        required: false
        type: boolean
        default: true
      enable-prettier:
        required: false
        type: boolean
        default: true
      enable-stylelint:
        required: false
        type: boolean
        default: false
      stylelint-input:
        required: false
        type: string
        default: '**/*.{css,scss,sass,less,styl}'
      eslint-flags:
        required: false
        type: string
        # https://github.com/reviewdog/action-eslint/issues/62
        default: '--quiet'
      prettier-flags:
        required: false
        type: string
        default: ''

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-on-pull-request:
    if: github.event_name == 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node (via node-version-file)
        if: inputs.node-version-file != ''
        uses: actions/setup-node@v3
        with:
          node-version-file: '${{ inputs.node-version-file }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'
      - name: Setup Node (via node-version)
        if: inputs.node-version-file == ''
        uses: actions/setup-node@v3
        with:
          node-version: '${{ inputs.node-version }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'

      - name: Install
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn install --immutable'

      - name: Run Pre-Script
        if: inputs.pre-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.pre-script }}'

      - name: eslint
        if: inputs.enable-eslint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'
          workdir: '${{ inputs.working-directory }}'
          eslint_flags: '${{ inputs.eslint-flags }} .'

      - name: prettier
        if: inputs.enable-prettier
        uses: EPMatt/reviewdog-action-prettier@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'
          workdir: '${{ inputs.working-directory }}'
          prettier_flags: '${{ inputs.prettier-flags }} .'

      - name: stylelint
        if: inputs.enable-stylelint
        uses: reviewdog/action-stylelint@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: '${{ inputs.reporter }}'
          workdir: '${{ inputs.working-directory }}'
          stylelint_input: '${{ inputs.stylelint-input }}'

      - name: Run Post-Script
        if: inputs.post-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.post-script }}'

  lint-on-push:
    if: github.event_name != 'pull_request' && !contains(github.ref, 'renovate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node (via node-version-file)
        if: inputs.node-version-file != ''
        uses: actions/setup-node@v3
        with:
          node-version-file: '${{ inputs.node-version-file }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'
      - name: Setup Node (via node-version)
        if: inputs.node-version-file == ''
        uses: actions/setup-node@v3
        with:
          node-version: '${{ inputs.node-version }}'
          cache: 'yarn'
          cache-dependency-path: '${{ inputs.working-directory }}/yarn.lock'

      - name: Install
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn install --immutable'

      - name: Run Pre-Script
        if: inputs.pre-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.pre-script }}'

      - name: eslint
        if: inputs.enable-eslint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
          workdir: '${{ inputs.working-directory }}'
          eslint_flags: '${{ inputs.eslint-flags }} .'

      - name: prettier
        if: inputs.enable-prettier
        uses: EPMatt/reviewdog-action-prettier@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
          workdir: '${{ inputs.working-directory }}'
          prettier_flags: '${{ inputs.prettier-flags }} .'

      - name: stylelint
        if: inputs.enable-stylelint
        uses: reviewdog/action-stylelint@v1
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          reporter: 'github-check'
          stylelint_input: '${{ inputs.stylelint-input }}'
          workdir: '${{ inputs.working-directory }}'

      - name: Run Post-Script
        if: inputs.post-script != ''
        working-directory: '${{ inputs.working-directory }}'
        run: 'yarn ${{ inputs.post-script }}'
