@charset "UTF-8";

/* MS Pゴシック */
@font-face {
  font-family: 'MS PGothic';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'MS PGothic';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}
@font-face {
  font-family: 'ＭＳ Ｐゴシック';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'ＭＳ Ｐゴシック';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}
@font-face {
  font-family: 'MS Pゴシック';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'MS Pゴシック';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}

/* MS UI Gothic */
@font-face {
  font-family: 'MS UI Gothic';
  font-weight: normal;
  src: local('Noto Sans Mono CJK JP Regular');
}
@font-face {
  font-family: 'MS UI Gothic';
  font-weight: bold;
  src: local('Noto Sans Mono CJK JP Medium');
}

/* MS ゴシック */
@font-face {
  font-family: 'ＭＳ ゴシック';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'ＭＳ ゴシック';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}
@font-face {
  font-family: 'MS ゴシック';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'MS ゴシック';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}
@font-face {
  font-family: 'MS Gothic';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'MS Gothic';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}

/* MS P明朝 */
@font-face {
  font-family: 'MS PMincho';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'MS PMincho';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}
@font-face {
  font-family: 'ＭＳ Ｐ明朝';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'ＭＳ Ｐ明朝';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}
@font-face {
  font-family: 'MS P明朝';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'MS P明朝';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}

/* MS 明朝 */
@font-face {
  font-family: 'MS Mincho';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'MS Mincho';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}
@font-face {
  font-family: 'ＭＳ 明朝';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'ＭＳ 明朝';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}
@font-face {
  font-family: 'MS 明朝';
  font-weight: normal;
  src: local('Noto Serif CJK JP Regular');
}
@font-face {
  font-family: 'MS 明朝';
  font-weight: bold;
  src: local('Noto Serif CJK JP Medium');
}

/* メイリオ */
@font-face {
  font-family: Meiryo;
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: Meiryo;
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}
@font-face {
  font-family: 'メイリオ';
  font-weight: normal;
  src: local('Noto Sans CJK JP Regular');
}
@font-face {
  font-family: 'メイリオ';
  font-weight: bold;
  src: local('Noto Sans CJK JP Medium');
}

/* Meiryo UI */
@font-face {
  font-family: 'Meiryo UI';
  font-weight: normal;
  src: local('Noto Sans Mono CJK JP Regular');
}
@font-face {
  font-family: 'Meiryo UI';
  font-weight: bold;
  src: local('Noto Sans Mono CJK JP Medium');
}

/* Consolas */
@font-face {
  font-family: Consolas;
  src: local('Cascadia Mono PL');
}

body,
h1,
h2,
h3,
h4,
h5,
div,
p {
  font-family: 'Noto Sans CJK JP Regular', sans-serif;
  font-weight: 450;
}
