# set mouse
set autoindent
set linenumbers
set tabsize 4
set tabstospaces

include /usr/share/nano/*.nanorc
include /usr/share/nano/extra/*.nanorc
include /usr/share/nano-syntax-highlighting/*.nanorc
